# Flutter/Dart specific
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock

# Firebase
**/.firebase/
**/firebase-debug.log

# IDE specific
**/.idea/
**/.vscode/
**/*.iml

# Web related
**/node_modules/
**/.pnp
**/.pnp.js

# Testing
**/coverage/

# Misc
**/.DS_Store
**/*.pem
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
